{% extends "keys/building_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Update {{ building }}
{% endblock %}

{% block content %}
    <div class = "container">
        <div class = "margin">
            <a class = "main-header" href={% url "keys:building_list" %}>Building: </a><span>Update {{ building }}</span>
        </div>

        <div class = "margin">
            <form action="" method="post">{% csrf_token %}
                {{ form | crispy }}
                 <br/>
                <input class="btn btn-primary" type="submit" value="Update" />
                <a class="btn btn-secondary"  href={% url "keys:building_detail" building.pk %}>Cancel</a>

                <form style="display:inline;" action={% url "keys:building_delete" building.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ building }}?')">{% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete" />

                </form>
            </form>
            <br/>

        </div>
    </div>
{% endblock %}
