{% extends "keys/key_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Create key
{% endblock %}

{% block content %}
    <div class = "container">
        <div class = "margin">
            <a class = "main-header" href={% url "keys:key_list" %}>key: </a> <span>Create key</span>

        </div>

        <div class = "margin">
        <form action="" method="post">{% csrf_token %}
            {{ form | crispy }}
            <br/>
            <input class="btn btn-primary" type="submit" value="Create" />
            <a class="btn btn-secondary" href={% url "keys:key_list" %}>Cancel</a>
        </form>

        </div>
    </div>
{% endblock %}
