{% extends "keys/key_base.html" %}

{% block title %}
    {{ key }}
{% endblock %}

{% block content %}
    <div class = "container">
    <div class = "margin">
      <a class = "main-header" href={% url "keys:key_list" %}>key: </a> <span>  {{ key }} </span>
    </div>

    <div class = "margin">
        {% if request.user.is_superuser %}
        | <a href={% url "keys:key_update" key.pk %}>Update</a> |
        <form style="display:inline;" action={% url "keys:key_delete" key.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ key }}?')">{% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
        {% endif %}
    </div>
    </div>
{% endblock %}
