{% extends "keys/key_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Update {{ key }}
{% endblock %}

{% block content %}
    <div class = "container">
    <div class = "margin">
        <a class = "main-header" href={% url "keys:key_list" %}>key:</a><span>Update {{ key }}</span>
    </div>

    <div class = "margin">
        <form action="" method="post">{% csrf_token %}
            {{ form | crispy }}
            <br/>
            <input class="btn btn-primary" type="submit" value="Update" />
            <a class="btn btn-secondary"  href={% url "keys:key_detail" key.pk %}>Cancel</a>
            <form style="display:inline;" action={% url "keys:key_delete" key.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ key }}?')">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
        </form>


    </div>
    </div>
{% endblock %}
