{% extends "keys/keyissue_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Update {{ keyissue }}
{% endblock %}

{% block content %}
<h1><a href={% url "keys:keyissue_list" %}>keyissue</a></h1>
<h2>Update {{ keyissue }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-primary" type="submit" value="Update" />
</form>
<a href={% url "keys:keyissue_detail" keyissue.pk %}>Cancel</a>
<form style="display:inline;" action={% url "keys:keyissue_delete" keyissue.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ keyissue }}?')">{% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Delete" />
</form>
{% endblock %}
