{% extends "keys/keyissue_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Update {{ keyissue }}
{% endblock %}

{% block content %}
    <div class = "container">
    <div class = "margin">
        <a class = "main-header" href={% url "keys:keyissue_list" %}>keyissue: </a><span>Update {{ keyissue }}</span>

    </div>

    <div class = "margin">
        <form action="" method="post">{% csrf_token %}
            {{ form | crispy }}
            <br/>
            <input class="btn btn-primary" type="submit" value="Update" />
            <a class="btn btn-secondary" href={% url "keys:keyissue_detail" keyissue.pk %}>Cancel</a>
            <form style="display:inline;" action={% url "keys:keyissue_delete" keyissue.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ keyissue }}?')">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
        </form>


        </div>
    </div>
{% endblock %}
