{% extends "keys/keystatus_base.html" %}

{% block title %}
    {{ keystatus }}
{% endblock %}

{% block content %}
    <h1><a href={% url "keys:keystatus_list" %}>keystatus</a></h1>
    <h2>{{ keystatus }}
    {% if request.user.is_staff %}
    | <a href={% url "keys:keystatus_update" keystatus.pk %}>Update</a>
    {% endif %}
    {% if request.user.is_superuser %} | 
    <form style="display:inline;" action={% url "keys:keystatus_delete" keystatus.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ keystatus }}?')">{% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
    {% endif %}
    </h2>
{% endblock %}
