{% extends "keys/keystatus_base.html" %}

{% block title %}
    keystatuss
{% endblock %}

{% block content %}
    <div class = "container margin">
        <div class = "margin">
            <a class = "main-header">keystatus: </a> &emsp; &nbsp;
            {% if request.user.is_superuser %}
            <a class="report-button-primary2 bottom-margin" href={% url "keys:keystatus_create" %}>Create new keystatus</a>
            {% endif %}
        </div>
        <table class="table table-striped  table-responsive-md table-hover margin">
        {% for keystatus in keystatus_list %}
            <tr>
                <td><a href={% url "keys:keystatus_detail" keystatus.pk %}>{{ keystatus.identifier }}</a></td>
                <td><a>{{ keystatus.label }}</a></td>
                <td><a>{{ keystatus.order }}</a></td>
                <td><a>{{ keystatus.is_active }}</a></td>
                {% if request.user.is_staff %}
                <td><a class = "update" href={% url "keys:keystatus_update" keystatus.pk %}>Update</a></td>
                {% endif %}
                {% if request.user.is_superuser %}
                <td><form style="display:inline;" action={% url "keys:keystatus_delete" keystatus.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ keystatus }}?')">{% csrf_token %}<input class="list-input" type="submit" value="Delete" /></form></td>
                {% endif %}
            </tr>
        {% empty %}
            <li>No keystatus yet.</li>
        {% endfor %}
        </table>
    </div>
{% endblock %}

