{% extends "keys/keystatus_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Update {{ keystatus }}
{% endblock %}

{% block content %}
    <div class = "container">
    <div class = "margin">
        <a class = "main-header" href={% url "keys:keystatus_list" %}>keystatus: </a><span>Update {{ keystatus }}</span>
    </div>


    <div class = "margin">
        <form action="" method="post">{% csrf_token %}
            {{ form | crispy }}
            <br/>
            <input class="btn btn-primary" type="submit" value="Update" />
            <a class="btn btn-secondary"  href={% url "keys:keystatus_detail" keystatus.pk %}>Cancel</a>
            <form style="display:inline;" action={% url "keys:keystatus_delete" keystatus.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ keystatus }}?')">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
        </form>


    </div>
    </div>
{% endblock %}
