{% extends "keys/keytype_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Create keytype
{% endblock %}

{% block content %}
    <div class = "container">
        <div class = "margin">
            <a class = "main-header" href={% url "keys:keytype_list" %}>keytype: </a> <span>Create keytype</span>
        </div>
        <div class = "margin">
            <form action="" method="post">{% csrf_token %}
                {{ form | crispy }}
                <br/>
                <input class="btn btn-primary" type="submit" value="Create" />
                <a class="btn btn-secondary" href={% url "keys:keytype_list" %}>Cancel</a>
            </form>

        </div>
    </div>
{% endblock %}
